{% extends "bookstore/home.html" %}

{% block maintitle %}
  SetPassword
{% endblock maintitle %}

{% block main %}
    <div class="container-fluid w-100 d-flex justify-content-center align-items-center" style="min-height: 92vh;background-color: whitesmoke;">
    
     <form action="{% url 'bookstore:setpassword' email %}" method="POST" class="d-flex p-3 m-3 p-md-4 m-md-4 flex-column justify-content-center align-items-center bg-white shadow-lg rounded">
         {% csrf_token %}
        <div class="formcontainer d-flex my-2 flex-column flex-md-row">
            <label for="set_username" class="form-label flex-fill me-md-2">Username</label>
             <input type="text" class="form-control py-2" name="set_username" id="set-username" placeholder="Username">
        </div>
        <div class="formcontainer d-flex my-2 flex-column flex-md-row">
             <label for="set_password" class="form-label flex-fill me-md-2">Password</label>
             <input type="text" class="form-control py-2" name="set_password" id="set-password" placeholder="password">
         </div>
         <div class="formcontainer d-flex my-2 w-100 flex-column flex-md-row">
            <label for="confirm_password" class="form-label flex-fill me-md-2" >Confirm Password</label>
            <input type="text" class="form-control py-2" name="confirm_password" id="confirm-password" placeholder="Confirm Password">
         </div>
         <div class="formcontainer d-flex justify-content-between align-items-center my-3 w-100">
             <button class="btn btn-danger" type="reset">Cancel</button>
             <button class="btn btn-success" type="submit">Submit</button>
         </div>
     </form>

    </div>

      
{% endblock main %}

{% block main-footer %}

{% endblock main-footer %}